* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.inter {
     font-family: "Inter", sans-serif;
     font-style: normal;
}

.navbar {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin: 16px 120px 0 120px;
}


.navbar .nav-links ul {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     list-style: none;
     gap: 32px;
}

.navbar .nav-links ul li a {
     text-decoration: none;
     color: #000000;
     font-size: 16px;
     font-weight: 500;
     text-align: left;
}

.navbar .nav-button button {
     color: #FFFFFF;
     font-size: 16px;
     font-weight: 600;
     background-color: #30B868;
     padding: 12px 16px;
     cursor: pointer;
     border-radius: 4px;
     border: none;
}

/* banner */
.banner {
     background-image: url(./assets/hero-bg.png);
     background-size: cover;
     background-position: center;
     text-align: center;
     padding: 100px 20px;
}

.banner-content {
     margin: 115px 100px 245px 100px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

}

.banner .banner-content .frame {
     padding: 8px 12px;
     margin-bottom: 16px;
     color: #30B868;
     background-color: #FFFFFF;
     font-size: 16px;
     font-weight: 500;
     border-radius: 20px;
     width: 229px;
     border: none;
}

.banner h1 span {
     color: #30B868;
}

.banner p {
     font-size: 18px;
     font-weight: 400;
     color: #4F4F4F;
     margin-top: 24px;
}

.banner .banner-content h1 {
     font-size: 72px;
     font-weight: 700;
     line-height: 84px;
     text-align: center;
     margin-bottom: 16px 0 16px 0;
     color: #FFFFFF;
}

.banner .banner-content p {
     color: rgba(255, 255, 255, 1);
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
     text-align: center;
     margin: 0 120px 32px 120px;
     padding: 10px 50px;
}

.banner .banner-content .btn {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 16px;
     margin-bottom: 80px;
}

.banner .banner-content .btn .vault {
     font-size: 16px;
     font-weight: 600;
     line-height: 19px;
     text-align: left;
     color: rgba(255, 255, 255, 1);
     background-color: #30B868;
     padding: 16px;
     border-radius: 10px;
     border: none;
     cursor: pointer;
}

.banner .banner-content .btn .vault img {
     gap: 10px;
}

.banner .banner-content .btn .work {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 16px;
     color: #FFFFFF;
     background-color: #00000000;
     border-radius: 5px;
     border: 1px solid rgba(255, 255, 255, 1);
     cursor: pointer;
}

/* main section */

main .apps {
     justify-content: center;
     align-items: center;
     padding: 120px;
}

.apps .apps-heading h2 {
     color: #001931;
     font-size: 48px;
     font-weight: 700;
     line-height: 58px;
     text-align: center;
     margin-bottom: 16px;
}

.apps .apps-heading p {
     color: #627382;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
     text-align: center;
     margin-bottom: 44px;
}

.apps .apps-containear {
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
     gap: 24px;
}

.apps .apps-containear .apps-card img {
     background-image: url(./assets/Ellipse\ 1.png);
     background-size: cover;
     background-position: center;
     text-align: center;
     margin-top: 40px;
     width: 60px;
     padding: 15px;
}

.apps .check-contaner .check-content img{
     width: 20px;
}

.apps .apps-containear .apps-card img,
h3 {
     margin-bottom: 16px
}

.apps .apps-containear .apps-card {
     padding: 24px;
     gap: 24px;
     max-width: 300px;
     height: 300px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* solution  */

.solution .solution-contaner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 40px;
     padding: 3dvb;
     margin: 0 0 120px 0;
}

.solution .solution-contaner .solution-content span {
     color: #30B868;
     font-size: 16px;
     font-weight: 500px;
     line-height: 20px;
     text-align: left;
     margin-bottom: 16px;
}

.solution .solution-contaner .solution-content h2 {
     color: #001931;
     font-size: 48px;
     font-weight: 700;
     line-height: 58px;
     text-align: left;
     margin-bottom: 16px;
}

.solution .solution-contaner .solution-content .solution-des p {
     color: #627382;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     margin-bottom: 40px;
}

.check-contaner .check-content {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 16px;
     margin-bottom: 16px;
}

/* Think  */

.think-container {
     margin: 0 120px 120px 120px;
     padding: 80px;
     text-align: center;
     background-color: #F7F6F2;
     border-radius: 12px;
}

.think-container h2 {
     color: #001931;
     font-size: 48px;
     font-weight: 700;
     margin-bottom: 16px;
}

.think-container p {
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 24px;
     color: #627382;
}

.think-container button {
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 16px;
     margin-bottom: 16px;
     border-radius: 5px;
     border: none;
     color: #FFFFFF;
     background-color: #30B868;
     font-size: 16px;
     font-weight: 600;
     text-align: left;
}

/* footer  */

footer {
     padding: 120px 120px 30px 120px;
     background-color: rgba(0, 25, 49, 1);
}

.footer-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 107px 80px 0;
}

footer .footer-content .social h4 {
     font-size: 20px;
     font-weight: 500px;
     color: #F7F6F2;
     margin-bottom: 16px;
}

footer .social .social-icon {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 16px;
}

hr {
     margin-bottom: 30px;
}

.copy-right {
     color: #F7F6F2;
     font-size: 16px;
     font-weight: 400;
     text-align: center;
     margin-bottom: 30px;
}