* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;



}

.inter {
     font-family: "Inter", sans-serif;
     font-style: normal;
}

.navbar {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin: 16px 120px 0 120px;
}


.navbar .nav-links ul {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     list-style: none;
     gap: 32px;
}

.navbar .nav-links ul li a {
     text-decoration: none;
     color: #000000;
     font-size: 16px;
     font-weight: 500;
     text-align: left;
}

.navbar .nav-button button {
     color: #FFFFFF;
     font-size: 16px;
     font-weight: 600;
     background-color: #30B868;
     padding: 12px 16px;
     cursor: pointer;
     border-radius: 4px;
     border: none;
}

/* banner */
.banner {
     background-image: url(./assets/hero-bg.png);
     /* height: 600px; */
     background-size: cover;
     background-position: center;
     text-align: center;
     padding: 100px 20px;
}

.banner-content {
     margin: 115px 100px 245px 100px;
}

.frame {
     color: #30B868;
     background-color: #FFFFFF;
     padding: 8px 12px;
     border-radius: 20px;
     font-size: 16px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 6px;
     margin: 15px 600px;
     margin-bottom: 16px
}


.banner h1 span {
     color: #30B868;
}

.banner p {
     font-size: 18px;
     font-weight: 400;
     color: #4F4F4F;
     margin-top: 24px;
}

.banner .banner-content h1 {
     font-size: 72px;
     font-weight: 700;
     line-height: 84px;
     text-align: center;
     margin-bottom: 16px;
     color: #FFFFFF;
}

.banner .banner-content p {
     color: rgba(255, 255, 255, 1);
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
     text-align: center;
     margin: 0 120px 32px 120px;
     padding: 10px 190px;
}

.banner .banner-content .btn {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 16px;
     margin-bottom: 80px;
}

.banner .banner-content .btn .vault {
     font-size: 16px;
     font-weight: 600;
     line-height: 19px;
     text-align: left;
     color: rgba(255, 255, 255, 1);
     background-color: #30B868;
     padding: 16px;
     border-radius: 10px;
     border: none;
     cursor: pointer;
}

.banner .banner-content .btn .vault img {
     gap: 10px;
}

.banner .banner-content .btn .work {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     padding: 12px 16px;
     color: #FFFFFF;
     background-color: #00000000;
     border-radius: 5px;
     border: 1px solid rgba(255, 255, 255, 1);
     cursor: pointer;
}

/* main section */

main .apps {
     justify-content: center;
     align-items: center;
     padding: 120px;
}

.apps .apps-heading h2 {
     color: #001931;
     font-size: 48px;
     font-weight: 700;
     line-height: 58px;
     text-align: center;
     margin-bottom: 16px;
}

.apps .apps-heading p {
     color: #627382;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
     text-align: center;
     margin-bottom: 44px;
}

.apps .apps-containear {
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
     gap: 24px;
}

.apps .apps-containear .apps-card img {
     background-image: url(./assets/Ellipse\ 1.png);
     background-size: cover;
     background-position: center;
     text-align: center;
     margin-top: 40px;
     width: 32px;
}

.apps .apps-containear .apps-card img,
h3 {
     margin-bottom: 16px
}

.apps .apps-containear .apps-card {
     padding: 24px;
     gap: 24px;
     max-width: 300px;
     height: 300px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}