*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;

     

}

.inter{
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.navbar{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin: 16px 120px;
}


.navbar .nav-links ul{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     list-style: none;
     gap: 32px;
}
.navbar .nav-links ul li a{
     text-decoration: none;
     color: #000000;
     font-size: 16px;
     font-weight: 500;
     text-align: left;
}

.navbar .nav-button button{
     color: #FFFFFF;
     font-size: 16px;
     font-weight: 600;
     background-color: #30B868;
     padding: 12px 16px;
      cursor: pointer;
     border-radius: 4px;
     border: none;
}